/*****************************
Base Element Styles (based on flexbox video "best city" page)
******************************/
* {
  box-sizing: border-box;
}

h1 {
  font-family: rockwell, serif, bold;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #000;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: .95em;
  margin: .5em 2em;
}

h2,
h3,
a {
  color: #000;
  text-align: center;
}

h2,
h3 {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*****************************
Mobiel and Base Styles (based on flexbox video "best city" page)
******************************/
.intro-photo {
  display: block;
  margin: auto;
  width: 60%;
  padding: 20px 0;
  border-radius: 5%;
}

.bold {
  font-weight: bold;
}

/*Navigation Bar*/

.name {
  font-size: 1.35em;
  margin: 0;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.header-container {
  background-color: #94c4a2; 
}

.name a {
  color: #26835b;
}

.main-nav a {
  font-size: .98em;
  color: #26835b;
  background-color: #94c4a2;
}

.main-nav li {
  border: 1px solid #26835b;
}

.main-nav a:hover {
  background-color: #26835b;
  color: #94c4a2;
}

/*End Navigation Bar*/

/*Footer*/
.main-footer {
  background-color: #94c4a2;
  text-align: left;
  padding: 10px 15px;
}

.main-footer a,
.copyright {
  font-size: .80em;
  color: #26835b;
  background-color: #94c4a2;
}

.main-footer {
  flex-direction: row;
  justify-content: space-between;
  
}

.main-footer ul {
  flex-direction: column;
  align-items: flex-start;
}

.icon,
.copyright{
  padding: 0 0 0 15px;
}

.icon-label {
  vertical-align: top;
  padding: 0 0 0 10px;
  font-size: .95em;
}
/*end footer*/

/*sticky footer*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  flex: 1;
}
/*end sticky footer*/

/*student page youtube videos*/

.youtube-videos {
  display: block;
  text-align: center;
}

.youtube-videos img {
  width: 70%;
  margin: 15px 0 0 0; 
}

.caption {
  margin-top: -5px;
}

/*end student page youtube videos*/
body form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto 20px; 
}

/*contact Form (styles borrowed from JQuery Basics*/
form {
  background: #94c4a2;
  padding: 4em 4em 2em;
  margin: 10% auto 0;
  width: 100%;
}

.form-p {
  display: flex;
  flex-direction: column;
  margin: 0 0 3em 0;
  font-size: 1em;
}

input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

input[type="text"],
#message {
  border: 1px solid #26835b;
  font-size: 1.6em;
  border-radius: 5px;
}

#message {
  padding: .8em .5em;
}

form span {
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: #26835b;
}

input[type="submit"] {
  background: #26835b;
  box-shadow: 0 3px 0 0 #174f37;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px #174f37;
}
/*End Contact Form*/

/*Student Calendar*/

.calendar-row {
  display: flex;
}

iframe {
  margin: auto;
}
/*End Student Calendar*/

/*****************************
Media Queries (based on flexbox video "best city" page)
******************************/

@media (min-width: 769px) {
  .main-header {
     width: 90%;
     margin: 0 auto;
  }
  .main-header, 
  .main-nav, 
  .youtube-videos,
  .row {
    display: flex;
  }
  
  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .main-nav li {
    border: none;
  }
  
  .main-footer {
    flex-direction: row;
    justify-content: space-between
  }
  
  .main-nav a:hover {
    border-radius: 5%;
  }
  
  .youtube-container {
    margin: 0 auto;
  }
  
  .row {
    flex-direction: row;
    justify-content: center;
  }
  
  .primary {
    max-width: 40%;
  }
  
  form {
    max-width: 600px;
    box-shadow: 0 0 1em #111;
    border-radius: 5px;
  }
  
  .main-footer, 
  .footer-links {
    display: flex;
    align-items: flex-end;
  }
  
}/*end @media 769px*/


/*begin @media 1025px*/
@media (min-width: 1025px) {
  .main-header {
    width: 80%;
    max-width: 1150px;
  }
  
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main-nav li {
    border: none;
  }
  
    .main-footer {
      flex-direction: row;
      justify-content: space-between
  }
  
    .main-nav a:hover {
      border-radius: 5%;
  }
} /*end @media 1025px*/